* {
  font-family: Futura;
  margin: 0;
}

body {
  box-sizing: border-box;
}

header {
  background-color: #20b2aa;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;

}

.logo {
  text-align: center;
}